<div class="page-content page-container" id="page-content">
  <div class="padding">
      <div class="row container d-flex justify-content-center">
          <div class="col-lg-6 grid-margin stretch-card">
              <p><span class="dropcap dropcap-colored"> F </span>or what reason would it be advisable for me to think about business content? That might be little bit risky to have crew member like them. For what reason would it be advisable for me to think about business content? That might be little bit risky to have crew member like them. For what reason would it be advisable for me to think about business content? That might be little bit risky to have crew member like them.
              </p>
          </div>
      </div>
  </div>
</div>
